.toggle__chat {
  display: none;
}

.message__conteiner {
  position: absolute;
  bottom: 0;
  right: 1em;
  width: 18em;
  height: 21em;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0px 0px 29px -13px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 29px -13px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 0px 29px -13px rgba(0, 0, 0, 0.51);
}

.message__topbar {
  border-radius: 10px 10px 0 0;
  text-align: center;
  background-color: #6400fa;
  height: 2.8em;
  color: white;
  font-weight: bold;
  display: flex;
}

.my_message {
  display: block;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 10px;
  width: 10em;
  display: inline-block;
  word-wrap: break-word;
  margin-left: auto;
  background-color: #ebebeb;
  color: black;
}

.received_message {
  margin-right: auto;
  background-color: #6400fa;
  display: block;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 10px;
  color: white;
  width: 10em;
  display: inline-block;
  word-wrap: break-word;
}

.message__user {
  margin: auto;
}

.message__field {
  overflow-y: scroll;
  background-color: #fff;
  height: 15.5em;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.message__send__field {
  background-color: #fff;
  height: 2.5em;
  display: flex;
}

form {
  margin: auto;
}

.message__send__field input {
  border: none;
  border-radius: 5px;
  padding: 0.3em;
  padding: 0.4em 1em;
  border-radius: 10px;
}

input[type="text"] {
  background-color: #ebebeb;
}

.message__send__field input[type="submit"] {
  margin: 0 1em;
  outline: none;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bolder;
  background-color: #6400fa;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  color: white;
}

.message__send__field input[type="submit"]:hover {
  background-color: #5400d3;
}
